<div class="page-header text-center">
  <h1>Welcome to BlackJack <small>powered by Rails</small></h1>
</div>

<div class="container text-center bsplash">

  <%= link_to "Start Game", games_path,
        :class => "btn btn-danger btn-lg", method: :post%>

</div>
