<div class="page-header text-center">
  <h1>Welcome to BlackJack <small>powered by Rails</small></h1>
</div>

<div class="container text-center bsplash">
  <button type="button" name="button" class="btn btn-danger btn-lg">Play BlackJack</button>
</div>
