<div class="page-header text-center">
  <h1>Welcome to BlackJack <small>powered by Rails</small></h1>
  <%= link_to "Back", root_path, :class => "btn btn-danger btn-lg" %>
</div>

<div class="greenback text-center">
  <%= link_to "Hit", root_path, :class => "btn btn-success btn-lg" %>
    <div class="container">
        <div class="row text-center">
          <div class="col-xs-6">
            <h1>Player</h1>
          </div>
          <div class="col-xs-6">
            <h1>Dealer</h1>
          </div>
        </div>
    </div>
</div>
