@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #000;
   background-image: url("http://i.imgur.com/B6vgzAc.png");
}

.bsplash{

  line-height: 150%;
  padding: 150px 0px;
  color: #fff;
  font-size: 20px;
}

.page-header small{
  color: maroon;
}

.bsplash button{
  padding: 50px 100px;
}
